.attachment-list {
  width: 450px;
  padding: 15px 0;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #1e242c; }
  .attachment-list .attachments {
    display: flex; }
