.Users {
  width: 1200px;
  border-radius: 6px;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  padding: 40px 70px 50px 70px; }
  .Users .Profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

.NotResult {
  text-align: center;
  color: #d4d4d4;
  margin-top: 50px; }
