.users {
  width: 1200px;
  border-radius: 6px;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  padding: 40px 70px 50px 70px; }
  .users .profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .users .without {
    margin-top: 60px;
    margin-bottom: 50px; }
    .users .without .withoutUsers {
      justify-content: center;
      display: flex;
      margin-top: 45px; }
      .users .without .withoutUsers div {
        margin-right: 40px; }
        .users .without .withoutUsers div:last-child {
          margin-right: 0; }
