.Users {
    width: 1200px;
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    padding: 40px 70px 50px 70px;

    .Profiles{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .Without {  
        margin-top: 60px;
        margin-bottom: 50px;
        .WithoutUsers{
            justify-content: center;
            display: flex;  
            margin-top: 45px;
            div {
                margin-right: 40px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
 
}