.users {
    width: 1200px;
    height: 750px;
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    padding: 40px 70px 50px 70px;

    .profiles{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .without {  
        margin-top: 60px;
        .without-users{
            justify-content: center;
            display: flex;  
            margin-top: 45px;
            .user-photo {
                margin-right: 40px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
 
}