.users {
  width: 1200px;
  height: 750px;
  border-radius: 6px;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  padding: 40px 70px 50px 70px; }
  .users .users-cards {
    margin-top: 50px; }
