.upload-container {
    display: flex;
    .upload-label {
        width: 450px;
        height: 200px;
        border-radius: 4px;
        background-color: rgba(18, 182, 208, 0.03);
        border: dashed 1px #12b6d0;

        #upload {
             display: none;   
        }
        .upload-title {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 100%;
            span {
                margin-top: 10px;
                width: 96px;
                height: 26px;
                font-family: Poppins;
                font-size: 9px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.44;
                letter-spacing: 0.2px;
                text-align: center;
                color: #12b6d0;
            }
        }
    }
}
