.Without {  
    margin-top: 60px;
    margin-bottom: 50px;
    .WithoutUsers{
        justify-content: center;
        display: flex;  
        margin-top: 45px;
        div {
            margin-right: 40px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}