.Card {
  display: flex;
  margin-left: 30px;
  width: 212px;
  height: 131px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-top: 1px solid #00c1de;
  border-radius: 2px;
  padding: 7px 3px 7px 8px; }
  .Card .LeftBlock {
    flex-direction: column;
    display: flex;
    align-items: center; }
    .Card .LeftBlock .Image {
      width: 52px;
      height: 52px;
      border: 1px solid transparent;
      border-radius: 3px; }
      .Card .LeftBlock .Image img {
        height: 100%; }
    .Card .LeftBlock .Qr {
      height: 30px;
      width: 30px;
      margin-top: 17px; }
      .Card .LeftBlock .Qr img {
        height: 100%; }
  .Card .CenterBlock {
    margin-left: 10px; }
    .Card .CenterBlock .CardLogo {
      display: flex;
      height: 28px; }
      .Card .CenterBlock .CardLogo img {
        height: 100%; }
    .Card .CenterBlock .UserData {
      margin-top: 10px;
      color: #838c92;
      font-family: Poppins-extra-light; }
      .Card .CenterBlock .UserData .Fields {
        display: flex;
        margin-top: 2px; }
      .Card .CenterBlock .UserData ul {
        list-style-type: none; }
        .Card .CenterBlock .UserData ul li {
          color: #838c92;
          font-size: 6px; }
      .Card .CenterBlock .UserData .FieldsValues {
        margin-left: 5px; }
        .Card .CenterBlock .UserData .FieldsValues :last-child {
          font-size: 5px; }
      .Card .CenterBlock .UserData .Name {
        font-family: Poppins-medium;
        font-size: 8px; }
    .Card .CenterBlock .Verified {
      margin-top: 9px;
      display: flex;
      flex-direction: column;
      align-items: start; }
      .Card .CenterBlock .Verified .Title {
        font-family: Poppins-medium;
        font-size: 6px;
        color: #838c92; }
      .Card .CenterBlock .Verified ul {
        display: flex;
        list-style-type: none; }
        .Card .CenterBlock .Verified ul li {
          width: 13px;
          height: 13px; }
          .Card .CenterBlock .Verified ul li img {
            height: 100%; }
  .Card .RightBlock {
    width: 4px;
    height: 100px; }
    .Card .RightBlock img {
      height: 100%; }
