.card {
  display: flex;
  margin-left: 30px;
  width: 212px;
  height: 131px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-top: 1px solid #00c1de;
  border-radius: 2px;
  padding: 7px 3px 7px 8px; }
  .card .leftBlock {
    flex-direction: column;
    display: flex;
    align-items: center; }
    .card .leftBlock .image {
      width: 52px;
      height: 52px;
      border: 1px solid transparent;
      border-radius: 3px; }
      .card .leftBlock .image img {
        height: 100%; }
    .card .leftBlock .qr {
      height: 30px;
      width: 30px;
      margin-top: 17px; }
      .card .leftBlock .qr img {
        height: 100%; }
  .card .centerBlock {
    margin-left: 10px; }
    .card .centerBlock .cardLogo {
      display: flex;
      height: 28px; }
      .card .centerBlock .cardLogo img {
        height: 100%; }
    .card .centerBlock .userData {
      margin-top: 10px;
      color: #838c92;
      font-family: Poppins-extra-light; }
      .card .centerBlock .userData .fields {
        display: flex;
        margin-top: 2px; }
      .card .centerBlock .userData ul {
        list-style-type: none; }
        .card .centerBlock .userData ul li {
          color: #838c92;
          font-size: 6px; }
      .card .centerBlock .userData .fieldsValues {
        margin-left: 5px; }
        .card .centerBlock .userData .fieldsValues :last-child {
          font-size: 5px; }
      .card .centerBlock .userData .name {
        font-family: Poppins-medium;
        font-size: 8px; }
    .card .centerBlock .verified {
      margin-top: 9px;
      display: flex;
      flex-direction: column;
      align-items: start; }
      .card .centerBlock .verified .title {
        font-family: Poppins-medium;
        font-size: 6px;
        color: #838c92; }
      .card .centerBlock .verified ul {
        display: flex;
        list-style-type: none; }
        .card .centerBlock .verified ul li {
          width: 13px;
          height: 13px; }
          .card .centerBlock .verified ul li img {
            height: 100%; }
  .card .rightBlock {
    width: 4px;
    height: 100px; }
    .card .rightBlock img {
      height: 100%; }
