*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Poppins-regular';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Poppins-bold';
  font-style: normal;
  font-weight: 400;
  src:  url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype'),
}
@font-face {
  font-family: 'Poppins-light';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Poppins/Poppins-Light.ttf') format('truetype'),
}
@font-face {
  font-family: 'Poppins-extra-light';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype'),
}
@font-face {
  font-family: 'Poppins-medium';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype'),
}
body {
  background-color: #f5f6f8;
}

.Wrapper {
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}